In [ ]:
print("hi")

hi

**EXPERIMENT ONE FOR LISTS**

In [ ]:
my=[1,2,3,4,5,5,6,7,7,6,5]
my.append(9)
my.extend([10,11,21])
my.remove(4)
my.pop(4)
slice1=my[:6]
slice2=my[4:]
slice3=my[3:9]
print("original list: ",my)
print("slice 1 is : slice[:6] ",slice1)
print("slice 2 is : slice[4:] ",slice2)
print("slice 3 is : slice[3:9] ",slice3)
empty_list=[]
empty_list.extend(slice3)
print("extended list: ",empty_list)
l1=[0,99,999]
l2=[1,11,111]
mat=[l1,l2]
print("matrix is: ")
for i in mat:
  print(i)

original list:  [1, 2, 3, 5, 6, 7, 7, 6, 5, 9, 10, 11, 21]
slice 1 is : slice[:6]  [1, 2, 3, 5, 6, 7]
slice 2 is : slice[4:]  [6, 7, 7, 6, 5, 9, 10, 11, 21]
slice 3 is : slice[3:9]  [5, 6, 7, 7, 6, 5]
extended list:  [5, 6, 7, 7, 6, 5]
matrix is:
[0, 99, 999]
[1, 11, 111]

**EXPERIMENT ONE FOR TUPLES**

In [ ]:
TUP=(1,22,3,4,555,6,7,8)
slice1=TUP[3:]
slice2=TUP[:4]
slice3=TUP[1:5]
print("original tuple: ",TUP)
print("slice 1 is : slice[3:] ",slice1)
print("slice 2 is : slice[:4] ",slice2)
print("slice 3 is : slice[1:5] ",slice3)

original tuple:  (1, 22, 3, 4, 555, 6, 7, 8)
slice 1 is : slice[3:]  (4, 555, 6, 7, 8)
slice 2 is : slice[:4]  (1, 22, 3, 4)
slice 3 is : slice[1:5]  (22, 3, 4, 555)

**EXPERIMENT ONE FOR DICTIONARIES**

In [ ]:
DC={"Batman":1,"Joker":2,"Superman":3}
DC["Catwoman"]=4
DC.update({"Hulk":5,"Cap":6})
print(DC)
del DC["Catwoman"]
print(DC)
DC.pop("Superman")
print("manipulated DC is :",DC)
new_DC={}
new_DC.update(DC)
print("new DC is : ",DC)
D100={1:1,2:2,3:3}
D101={4:4,5:5,6:6}
mat=[D100,D101]
print("matrix is: ")
for i in mat:
  print(i)

{'Batman': 1, 'Joker': 2, 'Superman': 3, 'Catwoman': 4, 'Hulk': 5, 'Cap': 6}
{'Batman': 1, 'Joker': 2, 'Superman': 3, 'Hulk': 5, 'Cap': 6}
manipulated DC is : {'Batman': 1, 'Joker': 2, 'Hulk': 5, 'Cap': 6}
new DC is :  {'Batman': 1, 'Joker': 2, 'Hulk': 5, 'Cap': 6}
matrix is:
{1: 1, 2: 2, 3: 3}
{4: 4, 5: 5, 6: 6}